<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="icon" href="/assets/logo.png">
</head>

<body>
  <nav>

  </nav>
  <div class="container">
    <a href="/players">
      <button>back</button>
    </a>
    <h2>Add a new Hall-of-Famer</h2>

    <div class="jumbo">
      <form class="edit" action="/players" method="POST">
        <label for="name">Name: </label>
        <input type="text" name="name" value="" required>
        <label for="img">Image: </label>
        <input type="text" name="img" value="">
        <label for="pos">Position: </label>
        <input type="text" name="pos" value="">
        <label for="college">College: </label>
        <input type="text" name="college" value="">
        <input type="submit" name="submit" value="submit" class="edit-button">
      </form>
    </div>
  </div>
</body>

</html>