<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="icon" href="/assets/logo.png">
</head>

<body>
  <nav>
    <div class="nav">
      <a href="/teams">
        <h1 class="six columns">NBA 2019/2020</h1>
      </a>
    </div>
  </nav>
  <div class="container">

    <h2></br>Add a new Hall-of-Famer</h2>
    <button onclick="goBack()">Back to Players</button>
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
    <div class="jumbo">
      <form class="edit" action="/players" method="POST">
        <label for="name">Name: </label>
        <input type="text" name="name" value="" required>
        <label for="img">Image: </label>
        <input type="text" name="img" value="">
        <label for="pos">Position: </label>
        <input type="text" name="pos" value="">
        <label for="college">College: </label>
        <input type="text" name="college" value="">
        <label for="tid">Team: </label>
        <input type="text" name="tid" value="">
        <input type="submit" name="submit" value="submit" class="buy-button">
      </form>
    </div>
  </div>
</body>

</html>