<div class="row nav">
  <a href="/teams"></a>
  <h1 id="store" class="six columns">NBA 2019/2020</h1>
  </a>
  </br>

  <span class="three columns">&nbsp;</span>
  <a href="/teams/new"><button type="button" name="button" class="new-product three columns">
      New Franchise
    </button></a>
  <span class="one column">&nbsp;</span>
</div>