<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>NBA Dynasty</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="icon" href="/assets/logo.png">
  <link href="https://fonts.googleapis.com/css?family=Coming+Soon&display=swap" rel="stylesheet">
  <!-- Import Google Icon Font
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  Import materialize.css
  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" /> -->

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <nav>

    <div class="nav">
      <a href="/teams">
        <img src="/assets/nba2.png" class="two columns">
      </a>
      <a href="/teams/new"><button type="button" name="button" class="edit-button">New
          Dynasty</button></a>

      <a href="/players/"><button type="button" name="button" class="edit-button">Players
          List</button></a>
    </div>
  </nav>

  <!-- Drop down here -->
  <div class="col-5 columns">

    <h2></br></h2>
    <div class="products">
      <% teams.forEach( function (team) { %>
      <div class="card">
        <a href="/teams/<%=team.id%>">
          <img src="<%= team.imgURL %>" alt="An image of <%= team.name %>" /></a>

      </div>
      <% }); %>
    </div>
  </div>
  <!--JavaScript at end of body for optimized loading-->
  <!-- <script type="text/javascript" src="/js/materialize.min.js"></script> -->
</body>


</html>